<div class="col-sm-3">
    <div id="profilePreview">
        <div id="informationRegion">
            <% if(showName){ %>
                <div id="name" style=""><%= name %></div>
            <% } %>

            <% if(showPicture){ %>
                <img id="picture" src="<%= picture %>" height="70px">
            <% } %>

            <% if(showSeeking){ %>
                <div id="seeking">
                    <b>Seeking:</b><br><p><%= seeking %></p>
                </div>
            <% } %>

            <% if(showAge || showGender){ %>
                <hr id="ageGenderHr">
            <% } %>

            <% if(showAge){ %>
                <div id="age"><b>Age:</b> <%= age %></div>
            <% } %>

            <% if(showGender){ %>
                <div id="gender"><b><%= gender %></b></div>
            <% } %>

            <% if(showLocation){ %>
                <div id="location"><hr><b>Location:</b><br><p><%= location %></p></div>
            <% } %>

            <% if(showProfession){ %>
                <div id="profession"><hr><b>Profession:</b><br><p><%= profession %></p></div>
            <% } %>

            <% if(showReligiousBeliefs){ %>
                <div id="religiousBeliefs"><hr><b>Religious Beliefs:</b><br><p><%= religiousBeliefs %></p></div>
            <% } %>

        </div>
    </div>
</div>
