<div class="col-sm-3" id="<%= profileIdentifier %>">
    <div id="profilePreview" data-toggle="modal" data-target="#inviteModal">
        <div id="informationRegion">
            <% if(showName && name!=""){ %>
                <div id="name" style=""><%= name %></div>
            <% } %>

            <% if(showPicture && picture!=""){ %>
                <img id="picture" src="<%= picture %>" height="70px">
            <% } %>

            <% if(showSeeking && seeking!=""){ %>
                <div id="seeking">
                    <b>Seeking:</b><br><p><%= seeking %></p>
                </div>
            <% } %>

            <% if((showAge || showGender) && (name!="" || age!="")){ %>
                <hr id="ageGenderHr">
            <% } %>

            <% if(showAge && age!=""){ %>
                <div id="age"><b>Age:</b> <%= age %></div>
            <% } %>

            <% if(showGender && gender!="" && gender!="male"){ %>
                <div id="gender"><b><%= gender %></b></div>
            <% } %>

            <% if(showLocation && location!=""){ %>
                <div id="location"><hr><b>Location:</b><br><p><%= location %></p></div>
            <% } %>

            <% if(showProfession && profession!=""){ %>
                <div id="profession"><hr><b>Profession:</b><br><p><%= profession %></p></div>
            <% } %>

            <% if(showReligiousBeliefs && religiousBeliefs!=""){ %>
                <div id="religiousBeliefs"><hr><b>Religious Beliefs:</b><br><p><%= religiousBeliefs %></p></div>
            <% } %>

        </div>
    </div>
</div>
