extends layout

block content
  h1 Lettuce Talk
  p.lead Find people online to talk to
  hr
  .row#onlineProfiles
  .modal.fade#inviteModal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
          h4.modal-title

        .modal-body
          .row
            .col-sm-offset-1#inviteProfile
            .col-sm-offset-2.col-sm-5#invitationMessage
                h3 What would you like to talk about?
                textarea

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close

          button.btn.btn-primary#sendInvitation(type='button') Send Invitation

  script.
    var page = "home";
