extends layout

block content
  h1 Lettuce Talk
  p.lead Find people online to talk to
  hr
  .row#onlineProfiles

  script.
    var page = "home";
  if user
    script.
      var userProfile = #{user.profile};
      var userId = '#{user._id}'

