div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-sm-12
      h1 Sign up
    .col-sm-12
      form.form(name='form', ng-submit='register(form)', novalidate='')
        div
          | Since we utilize Google Hangout for the talks, we need you to log in through your google account
          br
          | Not to worry, we will not misuse any of your information
          br
          | Sorry for the inconvenience
        hr
        div
          a.btn.btn-google-plus(href='', ng-click='loginOauth("google")')
            i.fa.fa-google-plus
            |  Connect with Google+
          = ' '
  hr
